:root{
  --vermelho: #E50914;
  --preto: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--preto);
  font-family: 'Arial', Helvetica, sans-serif;
  color: #FFF;
}

.livro-principal{
  font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/dom-casmurro.png');

    height:450px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}